html, body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  transform-origin: center center;
  transition: transform 0.3s;
}
h1 {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}